@model IEnumerable<CH.DVDCentral.BL.Models.OrderItem>

<table id="items" class="table data-table">
    <thead>
        <tr>
            <th>
                Movie Image
            </th>
            <th>
                Movie Title
            </th>

            <th>
                Quantity
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="imagepropsmall"
                         id="movieimage"
                         onclick="on('/images/@item.ImagePath')"
                         src="~/images/@item.ImagePath" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-controller="OrderItem" asp-action="Remove" class="btn btn-sm btn-primary" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
<script type="text/javascript" class="init">

    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#items').DataTable({
            "lengthMenu": [[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
        });

    });


</script>
</p>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('movieimage');
        //whenever you see square brackets it is an array
        output.src = URL.createObjectURL(event.target.files[0]);
    }

</script>

